{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "Travis user for building build-node-app",
    "Resources": {
        "User": {
            "Type": "AWS::IAM::User",
            "Properties": {
                "Path": "/service/",
                "Policies": [
                    {
                        "PolicyName": "install-node-cache",
                        "PolicyDocument": {
                            "Statement": [
                                {
                                    "Action": [
                                        "s3:PutObject",
                                        "s3:PutObjectAcl"
                                    ],
                                    "Effect": "Allow",
                                    "Resource": [
                                        "arn:aws:s3:::mapbox/apps/bundle-node-app/*"
                                    ]
                                }
                            ]
                        }
                    }
                ]
            }
        },
        "Key": {
            "Type": "AWS::IAM::AccessKey",
            "Properties": {
                "UserName": {
                    "Ref": "User"
                }
            }
        }
    },
    "Outputs": {
        "BuildAccessKeyId": {
            "Value": {
                "Ref": "Key"
            }
        },
        "BuildSecretAccessKey": {
            "Value": {
                "Fn::GetAtt": [
                    "Key",
                    "SecretAccessKey"
                ]
            }
        }
    }
}
